[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "aibuddy"

[scripts]
start = "python src/main.py"
lint = "pylint src --rcfile=.pylintrc"

[packages]
"discord.py" = "*"
discord = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
